<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css">
    
    <title>Galeria de filmes</title>
  </head>

  <body >

    <div class="container mt-4 teste">
      <div class="card box  ">
        <div class="card-header text-center" style="background-color:brown; color: aliceblue;">
          <h1>Galeria de filmes</h1>
        </div>
        <div class="card-body">
          <div class="row">
            <% imagens.forEach(imagem =>{ %>
            <div class="col-md-3 m-auto">
              <div class="card box">
                <div class="card text-center">
                  <b
                    ><%=imagem.titulo%> <br />
                    <%=imagem.ano%></b
                  >
                  <img
                    src="uploads/<%=imagem.file%>"
                    alt="imagem"
                    class="img-thumbnail"
                  />
                </div>
              </div>
            </div>
            <% }) %>
          </div>
          <br>
          <hr>

        <form action="/cadastro" method="post" enctype="multipart/form-data" style="padding:50px;">
          <label>Titulo:</label>
          <input
            type="text"
            name="titulo"
            id="titulo"
            placeholder="Insira o  titulo do filme"
            class="form-control"
            required
          />
          <br />
          <label>Ano de lançamento:</label>
          <input
            type="text"
            name="ano"
            id="ano"
            placeholder="Insira o ano de lançamento do filme"
            class="form-control"
            required
          />
          <br />
          <label>Insira o cartaz do filme</label>
          <input
            type="file"
            name="file"
            class="form-control"
            required
          /><br /><br />
          <input type="submit" value="enviar" class="btn w-100 botao" />
        </form>
      </div>
    </div>
  </body>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
</html>
